/* Apply Roboto font to the body */
/* Styles for screens with a maximum width of 480px (typical mobile phones) */
@media (max-width: 480px) {
    /* Your CSS rules for mobile devices go here */
  }
  

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/* Apply Source Sans Black font to specific elements (e.g., header) */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* Style for the navbar */
.navbar {
    color: white;
    padding: 10px 0;
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 40px;

    

}

/* Style for the logo */
.logo {
    max-width: 20%;
    padding: 10px 0px;
    margin: 40px;
}

/* Style for the navbar links */
.navbar-link {
    font-family: 'Roboto';
    color: #2708a0;
    text-decoration: none;
    margin: 0 40px; 
    font-size: 25px;
}

/* Style for the "Contact" button */
.contact-button {
    background-color: #fb6f00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 20px;
    border-radius: 30px;


}
.inBuild{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}
.inBuild h1{
    font-family: 'Source Sans Pro';
    font-size: 90px;
    color: #2708a0;
    font-weight: bolder;
    margin-inline: -15px;
    margin-bottom: 150px;

}

.inBuild img{
   width: 9%;
   position: absolute;
   right: 14%;
   top: 45%;
   

}
.picContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
}
.portrait{
    width: 50%;
    position: relative;
}
.floatText{
    position: absolute;
    top: 75%;
    left:60%;
    width: 25%;
}
.subPicText p{
    display: flex;
    justify-content: center;
}
.blueText{
    color: #2708a0;
    font-weight: bolder;
    font-size: 25px;
}
.orangeText{
    color: #fb6f00;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
}

.folderText{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px 10px;
    position: relative; 
    

}
.insideTitle{
    position: absolute;
    color: #FA7921;
    font-size: 30px;
    left: 26%;
    font-weight: 900;
    top: -5%;
    font-family: 'Source Sans Pro';
}
.insideText{
    position: absolute;
    color: #FA7921;
    top: 24%;
    width: 47%;
    font-size: 27px;
    line-height: 1.5;
    font-family: 'Roboto';
    font-weight: 500;


}
.folder{
    width: 55%;
    display: flex;
    justify-content: center;
}
.starLine{
    position: relative;

}
.blueLine{
    position: absolute;
    width: 111%;
    top: -63%;

}


    
    /* Media queries for responsiveness */

/* Styles for screens with a maximum width of 768px (typical tablets and smaller screens) */
@media (max-width: 768px) {
    header {
      flex-direction: row;
      text-align: center;
    }
  
    .navbar {
      flex-direction: row; /* Change to row to align horizontally */
      align-items: center;
      justify-content: center; /* Center the navbar items horizontally */
      margin-right: 0;
      padding: 20px 0;
    }

    .contact-button{
        font-size: 8px;
        padding: 5px 15px;

    }
  
    .logo {
      max-width: 25%; /* Adjust the logo size as needed */
      margin: 10px 10px;

    }
  
    .navbar-link {
      font-size: 10px;
      margin: 0px 10px; /* Add horizontal margin between navbar links */
    }

    .inBuild h1{
        font-size: 25px;

    }
    .inBuild img{
        width: 7%;
        right: 18%;
        top: 15%;

    }
    .picContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px;
        position: relative;
        right: 0px;
        bottom: 100px;
    }
    .portrait{
        width: 50%;
    }
    .floatText{
        width: 20%;
        position: absolute;
        top: -15%;
    }
    .subPicText{
        position: relative;
        bottom: 100px;

    }
    .blueText{
        font-size: 12px;
    }
    .orangeText{
        font-size: 20px;
    }
    .insideText{
        width: 65%;
        top : 15%;
        font-size: 15px;
    }
    .insideTitle{
        left: 10%;
        font-size: 15px;   
    }
    .folder{
        width: 90%;
    }
    .folderText{
        bottom: 150px;
        
    }
  }
  
    
    
    
    
    
      

